.headerBlock {
  background: #8855DD;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 45px;
    font-size: 14px;
    font-weight: 500;


    .phoneAndWatch {
      display: flex;
      color: #fff;

      p {
        margin: 0 5px;
      }
    }
  }
}

.headerBlock2 {
  margin: 25px 0 40px 0;

  .header2 {
    display: grid;
    grid-template-columns: 1fr  8fr 1fr;
    align-items: center;

    .headerLogo {
      img {
        height: 35px;
      }
      a{
        font-size: 30px;
        font-weight: 200;
        text-transform: uppercase;
      }
      margin-right: 20px;
    }

    .search {
      border: 1px solid rgba(0, 0, 0, 0.25);
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      height: 35px;

      input {
        border: none;
        outline: none;
        padding: 0 0 0 5px;
        width: 100%;
      }

      button {
        background: #8855DD;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover {

        }
      }
    }

    .links {
      display: flex;
      justify-content: flex-end;

      a {
        padding: 3px;
        position: relative;
        transition: 0.3s;
        border-radius: 3px;
        margin-right: 10px;
        font-weight: 400;
        color: #000000;
        border: 2px solid rgba(0, 0, 0, 0);

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          height: 2px;
          width: 0;
          background: #f1b8c4;
          transition: 0.3s;
        }

        &:hover {
          &::before {
            width: 100%;
            transform: translateX(-50%);
          }
        }
      }

      .active{
        position: relative;
        pointer-events:none;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          height: 2px;
          width: 100%;
          background: #f1b8c4;
          transition: 0.3s;
        }

        &:hover{
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 100%;
            background: #f1b8c4;
            transition: 0.3s;
          }
        }
      }

    }


    .basket {
      display: flex;
      justify-content: flex-end;
      position: relative;

      a {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;

        img {
          height: 35px;
        }

        .count {
          position: absolute;
          top: -5px;
          right: -5px;
          height: 20px;
          width: 20px;
          background: #f1b8c4;
          border-radius: 50%;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 15px;
        }
      }
    }
  }
}