.slick-dots {
  li {
    button {

      width: 15px;
      height: 15px;
      text-align: center;
      color: #FF3D00;
      border: 2px solid #AFAFAF;
      border-radius: 100%;

      &:before {
        display: none;
        position: absolute;
        background: #AFAFAF;
        top: 0;
        left: 0;
        //width: 15px;
        //height: 15px;
        content: '';
        //text-align: center;
        //opacity: 1;
        //color: #FF3D00;
        //border: 2px solid #AFAFAF;
        //border-radius: 100%;
      }
    }
  }

  li.slick-active {
    button {

      background: #AFAFAF;

    }
  }
}