.footerBlock {
  width: 100%;
  background: #8855DD;
  margin-top: 50px;
  padding: 50px 0 10px 0;

  .footer {
    display: flex;
    flex-direction: column;
    color: #fff;

    .mapsSite{
      display: grid;
      grid-template-columns: 1fr 1fr 3fr 1fr;
      div{
        p{
          margin-bottom: 10px;
        }

        ul{
          li{
            font-weight: 300;
            margin: 5px 0;
          }
        }
      }
      .contacts{
        display: flex;
        flex-direction: column;
        font-weight: 300;
        a{
          color: #fff;
          margin: 5px 0;
        }
      }
    }

    .footerLogo {
      display: flex;
      justify-content: center;
      align-content: center;
      margin: 15px 0;
    }

    .security{
      text-align: center;
      color: #fff;
    }
  }
}