.new{
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  min-height: 200px;
  margin-top: 100px;

  .caption{
    font-weight: 400;
  }
  .bg{
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    font-size: 150px;
    color: rgba(0, 0, 0, 0.09);
    font-weight: 900;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
  }
}

.advantagesBlocks{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  //padding: 10px;
  box-sizing: border-box;
  text-align: center;

  .item{
    height: 250px;
    border: 2px solid #000000;
    display: grid;
    grid-template-rows: 3fr 6fr;

    &:hover{

    }

    .icon{
      display: flex;
      justify-content: center;
      align-items: center;

      img{
        height: 70px;
      }
    }

    .itemDescription{
      h2{
        font-size: 20px;
      }

      p{
        margin-top: 20px;
        color: #555454;
      }

    }
  }
}
